<div class="container bg-light py-5 ">







    <h1 style="font-family:cursive;text-align:center"> Über Unserer App LPS!</h1>
    <h4> <p> Lps ist ein unabhängiges Webportal, das eine breite Palette von GNU/Linux- und FLOSS-bezogenen Angelegenheiten untersucht.

        Wir sind spezialisiert auf FLOSS-basierte Karrieren und eng verwandte IT-Bereiche.
         Unser Ziel ist es, der Benutzer mit der neuester Qualifizierung zum beruflichen Aufstieg zu versorgen.
        
        Wir sind weder mit einem lokalen oder internationalen Unternehmen verbunden, noch sind wir eine Rekrutierungs- oder Arbeitsagentur.</p>
        <h3 style="font-family:cursive;text-align:center" > Team 1 Reihe:</h3>
        <p>Ahmad Abdalazez</p> 
        <p>Maha Al Akhras</p>
        <p> Anas Dada</p>
        <p> Bogdan Ghinea</p>
    </h4>

</div>


