<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand"routerLink="">
  
    <a href=""></a> Lern & Prüf Simulator</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li>
         
          
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Linux
            </button>
              <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <li><a class="dropdown-item" routerLink="linux-l-m">Linux Lernmodus</a> </li>
                <li> <a class="dropdown-item" routerLink="linux-t-p">Linux Teilprüfungsmodus</a></li>
                <li> <a class="dropdown-item" routerLink="linux-v-p">Linux Vollprüfungsmodus</a></li>
              </ul>
          </div>
        
    
        


        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        
      </ul>
     
    </div>
  </div>
</nav>