<div class="row">
    <div class="col-md-6">
      <div class="quix-box custom-box">
        <div class="fragen-nummer">1/8 <span style="float: right;">10:50</span> </div>
        <div calss="fragen-text" style="text-align: justify;">what is LPC</div>
        <div class="option-container">
          <div style="text-align: justify" id="0" class="option" [style.animation-delay.s]="1">my option A</div>
          <div style="text-align: justify" id="0" class="option" [style.animation-delay.s]="2">my option B</div>
          <div style="text-align: justify" id="0" class="option" [style.animation-delay.s]="3">my option C</div>
          <div style="text-align: justify" id="0" class="option" [style.animation-delay.s]="4">my option D</div>
        </div>
        <div class="btn-container">
          <button type="button" class="btn">zurück</button>
          <button type="button" class="btn"  >weiter</button>
        </div>
  
        <div class="answers-indicator">
            <div></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
          </div>
  
          <!-- <div class="result-box-custom-box" style="height: 100vh;">
            <h1>Ergebnis</h1>
            <table>
                <tr>
                  <td>Gesamt fragen</td>
                  <td>8</td>
                </tr>
                <tr>
                  <td>Richtig antworten</td>
                  <td>8</td>
                </tr>
                <tr>
                  <td>falsch fragen</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>stastic</td>
                  <td>80%</td>
                </tr>
                <tr>
                  <td>Zeit</td>
                  <td>12:12</td>
                </tr>
              </table>
        </div> -->
    </div>
  </div>