

 <!-- <br>


<div class="item">
<div  class="btn btn-outline-primary" style="text-overflow:clip" >@Email <a class="link" href=""></a></div><br>
<div  class="btn btn-outline-primary" >L<span>inkedin</span></div><br>
<div  class="btn btn-outline-primary" >@</div><br>
<div class="btn btn-outline-primary"  >  BiTLC</div><br>

</div> -->
<div class="sidnav">
  
    <div><a routerLink="kont"> <img class="kon" src="../../assets/bilder/R.png" alt="Foto"></a><br> <br><br><br>

    </div>

    <div><a href="https://linux-kurs.com/linux-fakten/?code=SEM_CW_LIKU_BING_MFM_linux-kurs-com-fakten&msclkid=fa701565ac9212a5629c777a87394ba8&utm_source=bing&utm_medium=cpc&utm_campaign=Linux%20Kurs_2-step_Suche&utm_term=%2Bwww%20linux%20de&utm_content=www%20linux%20de"> <img class="kal" src="../../assets/bilder/tux-1200x1231.png" alt="Foto"></a>

    </div><br> <br><br>
    
    <div>
<a href="https://www.bitlc.de/standorte">
<img class="kal" src="../../assets/bilder/a.jpg" alt="Foto" ></a></div>
</div>