<div class="container bg-light py-5 " id="home">
    <h1 class="display-5 fw-bold">Willkommen bei der LPS-App</h1>
    
    <h4>Rules:</h4>
    <ol>
        <li> Für die richtige Antwort erhalten Sie 10 Punkte</li>
        <li>Bei falscher Antwort werden 10 Punkte abgezogen </li>
        <li>Sie haben 60 Sekunden Zeit, um jede Frage zu beantworten</li>
        <li>Wenn Sie die Seite aktualisieren, wird das Quiz zurückgesetzt</li>
    </ol>
    <h1 style="font-family:cursive;text-align:center"> viel Erfolg!</h1>
            <div class="name col-md-4 my-3">
            <label for="">Enter your name:</label>
            <input #Username type="text" class="form-control"  [(ngModel)]="kontakt.name" placeholder="User Name">
        </div>
        <div class=" logo">

            <span class="im1"> <img src="../../assets/bilder/lpic1.png" routerLink="linux-l-m"(click)=" startLernmodus()" > <span class="im2">Linux Lernmodus </span></span>
            <span class="im1"><img src="../../assets/bilder/lpic1.png"  routerLink="linux-t-p"(click)=" startLernmodus()">  <span class="im2">Linux Teilprüfungsmodus </span></span>
            <span class="im1"><img src="../../assets/bilder/lpic1.png"  routerLink="linux-v-p"(click)=" startLernmodus()">  <span class="im2"> Linux Vollprüfungsmodus </span></span>
            
             
    </div>
    
        
        
    </div>
             
    
        


